.row {
  &.stats {
    padding: 10px;
    border: 1px solid $gray-dark;
    border-radius: 5px;
    div {
      text-align: center;
    }
  }
}

.failure-error-message {
  max-height: $line-height-computed;
  overflow: auto;
  // white-space: pre;
}
